$cena-fontColor: #76797C;
$cenik-afterElementColor: #000000;
$cenikTabletPC-afterElementColor: #ffffff;
$footerBorder-color: #cccccc;
$cenikSection-bgColor: #e7e7e7;
$headerAfterElementColor: #bcd338;

/* mobile frst */

.cenik-section {
  padding: 20px 0;
  background-color: $cenikSection-bgColor;
}

.cenik-h1 {
  text-align: center;
  margin-bottom: 20px;

  &::after {
    content: "";
    display: block;
    background-color: $headerAfterElementColor;
    width: 25px;
    height: 2px;
    margin: 0 auto;
  }
}

.cenik{
    margin-bottom: 15px;
    text-align: center;
}

.cenik::after{
    content: "";
    display: block;
    background-color: $cenik-afterElementColor;
    height: 1px;
    width: 25px;
    margin: 7px auto;
}

.cena{
    margin-top: 5px;
    color: $cena-fontColor;
}

.footer{
    border-top: 1px solid $footerBorder-color;
}

/* tablet */
 @media screen and (min-width: 768px) {
     body{
         font-size: 18px;
     }

     .cenik-section{
         padding: 40px 0 150px 0;
     }

     .cenik{
         text-align: left;
         display: flex;
         justify-content: center;
         align-items: baseline;
     }

     .cenik-h1{
         margin-bottom: 25px;
     }

     .cenik::after{
         display: none;
     }

     .popis{
         flex: 1 1 20%;
         padding-left: 25%;

         &::after{
            content: "";
            display: block;
            background-color: $cenikTabletPC-afterElementColor;
            height: 2px;
            width: 15%;
            margin-top: 7px;
         }
     }

     .cena{
         flex: 1 1 20%;
     }
 }

/* PC */
@media screen and (min-width: 1200px) {

    .cenik-h1{
        margin-bottom: 55px;

        &::after {
            width: 30px;
            height: 3px;
          }
    }

    .cenik{
        margin-bottom: 25px;
    }
 }
