$cena-fontColor: #76797C;
$cenik-afterElementColor: #000000;
$footerBorder-color: #76797C;

/* mobile frst */

.cenik-section {
  margin: 20px 0 40px 0;;
}

.cenik-h1 {
  text-align: center;
  margin-bottom: 20px;
}

.cenik{
    margin-bottom: 15px;
    text-align: center;
}

.cenik::after{
    content: "";
    display: block;
    background-color: $cenik-afterElementColor;
    height: 1px;
    width: 25px;
    margin: 7px auto;
}

.cena{
    margin-top: 5px;
    color: $cena-fontColor;
}

.footer{
    border-top: 1px solid $footerBorder-color;
}

/* tablet */
 @media screen and (min-width: 768px) {
     body{
         font-size: 18px;
     }

     .cenik-section{
         margin: 45px 0 150px 0;
     }

     .cenik{
         text-align: left;
         display: flex;
         justify-content: center;
         align-items: baseline;
     }

     .cenik-h1{
         margin-bottom: 25px;
     }

     .cenik::after{
         display: none;
     }

     .popis{
         flex: 1 1 20%;
         padding-left: 25%;
     }

     .cena{
         flex: 1 1 20%;
     }
 }

/* PC */
@media screen and (min-width: 1200px) {
    .cenik-section{
        margin: 55px 0 250px 0;
    }

    .cenik-h1{
        margin-bottom: 55px;
    }

    .cenik{
        margin-bottom: 25px;
    }
 }
