$default-headersFont: "Fjalla One", sans-serif;
$default-textFont: "Lato", sans-serif;
$default-fontColor: #76797C;
$main-bgColor: #ffffff;
$second-bgColor: #BCD338;
$hoverMenu-color: #ffffff;
$buttonFontColor: #cccccc;
$promo-bgColor: #e7e7e7;

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $default-textFont;
    font-size: 18px;
}

// .web{
//     margin: 15px auto;
//     width: 1600px;
// }

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    height: 80px;
    margin-left: 25px;
}

.menu{

    a{
        text-decoration: none;
        color: $default-fontColor;
        font-weight: 700;
        padding: 100% 20px;

        &:hover{
            background-color: $second-bgColor;
            color: $hoverMenu-color;
        }
    }
}

.menu__tab{
    display: inline-block;
}

.slideGallery{
    height: 750px;
    background: linear-gradient(45deg, rgba(20, 20, 20, 0.473), rgba(20, 20, 20, 0.425)), url("/images/garden-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.slideGallery__poptavka{
    position: absolute;
    top: 50%;
    left: 45%;
    text-decoration: none;
    border-radius: 35px;
    background-color: $default-fontColor;
    color: $buttonFontColor;
    padding: 25px 50px;
    font-size: 20px;
    box-shadow: 1px 5px 23px #000000;

    &:hover{
        padding: 30px 55px;
        border-radius: 50px;
        font-size: 25px;  
    }
}

.promo {
    padding-top: 40px;
    height: 750px;
    width: 100%;
    background-color: $promo-bgColor;
    
}

.promo__cards{
    margin: 15px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.instaIcon, .fbIcon{
    width: 80px;
    margin-right: 15px;
}

.card{
    background-color: $main-bgColor;
    border-radius: 5px;
    padding: 20px 35px;
}

.promo__oFirme{
    grid-column: 1;
    grid-row: 1/-1;
    height: 640px;
    width: 480px;
    margin-left: 200px;
    box-shadow: 2px 5px 35px #5f5f5f;

    p{
        margin-bottom: 15px;
    }
}

.mainH{
    font-family: $default-headersFont;
    font-size: 35px;
    margin-bottom: 20px;
}

.promo__kontakty{
    grid-column: 2;
    grid-row: 1;
    width: 470px;
    height: 290px;
    box-shadow: 2px 5px 35px #5f5f5f;
}

.promo__kontakty__h2{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 70px;
}

.promo__social{
    grid-column: 2;
    grid-row: 2;
    width: 470px;
    height: 290px;
    box-shadow: 1px 5px 35px #5f5f5f;
}

.promo__social__h2{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 70px;
}

.footer{
    height: 40px;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}